//! **************************************************************************
// Written by: Map K.31 on Mon Jun 24 12:06:29 2019
//! **************************************************************************

SCHEMATIC START;
COMP "j" LOCATE = SITE "H18" LEVEL 1;
COMP "k" LOCATE = SITE "G18" LEVEL 1;
COMP "qnot" LOCATE = SITE "J15" LEVEL 1;
COMP "clock" LOCATE = SITE "R17" LEVEL 1;
PIN clock_pin<0> = BEL "clock" PINNAME PAD;
PIN "clock_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "q" LOCATE = SITE "J14" LEVEL 1;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

